


p, h1, h2, h3, h4, h5, h6, ul, body, a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 12);
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background-color: rgb(53, 156, 53);
  padding: 0px;
}

section {
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: rgb(71, 71, 71);
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: end;
  background: lavender;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.logo {
  border-left: solid 1px black;
  border-radius: 2px;
}

.logo-text {
  -webkit-text-stroke: 1px lime;
  font-size: 26px;
}

.nav-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  margin-top: 6px;
  list-style: none;
}

.nav-bar-div_text-decoration {
  border: none;
  transition: border-bottom 1s;
}

.nav-bar-div_text-decoration:hover {
  border-bottom: solid 2px lime;
}

a {
  justify-content: center;
  transition: opacity 0.15s;
}

a:hover {
  opacity: 0.6;
}

.intro-div {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: end;
  padding: 50px;
}

.intro-h3_1, .intro-h3_2 {
  width: 500px;
  margin-bottom: 20px;
  font-size: 54px;
}

.intro-h3_1{
  color: rgb(0, 218, 0);
}

.intro-h3_2 {
  -webkit-text-stroke: 1px lime;
}

.intro-picture-div {
  background-image: url("../images/picture1.jpg");
  width: 605px;
  height: 340px;
  border-radius: 5px;

  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

.heading1 {
  color: rgb(0, 218, 0);
  -webkit-text-stroke: 1px white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contents-form, .contact-us-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 16px;
  border: solid 1px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product-images-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px;
  background-color: rgb(202, 202, 202);
}

.product-image {
  width: 327px;
  height: 180px;
  border-radius: 3px;
  opacity: 0.92;
  mask-image: inherit;
}

.product-info {
  padding-left: 2px;
}

.product-name {
  margin-top: 8px;
  color: azure;
}

.product-price{
  margin-bottom: 8px;
  margin-top: 8px;
}

.contents-div {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.summery-div {
  padding: 50px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px
}

.summery-picture-div {
  background-image: url("../images/picture2.jpg");
  background-size: cover;
  background-position: center;
  width: 530px;
  height: 290px;
  border-radius: 4px;

  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

.about-us-heading{
  color: rgb(0, 218, 0);
  -webkit-text-stroke: 1px white;
  font-size: 42px;
}

.about-inside-div{
  border: solid 1px white;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
}

.about-us-paragraph{
  color: white;
  font-size: 28px;
}

textarea {
  display: block;
  border: lime solid 1px;
  width: 350px;
  height: 131px;
}

.social-media-logo {
  width: 26px;
  height: 26px;
}

.our-info-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer-about-div {
  background-image: url(../images/android6.jpg);
  background-position: center;
  background-size:auto;
  opacity: 0.86;
}

.footer-about-us-paragraph {
  width: 260px;
  font-size: large;
  margin-left: 304px;
  text-align: center;
}

.footer-about-div, .footer-contact-details-div {
  background-color: rgb(184, 184, 184);
  padding: 14px;
}

.contact-details-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  section {
    width: 100%;
  }

  .intro-div {
    display: inline;
  }

  .intro-h3_1, .intro-h3_2 {
    display: block;
    width: 400px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 34px;
  }

  .intro-picture-div {
    background-image: url("../images/picture1.jpg");
    background-position: center;
    width: 405px;
    height: 240px;
    border-radius: 5px;
    margin-left: 3px;
  
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  }

  .product-image {
    width: 87px;
    height: 50px;
    border-radius: 3px;
    opacity: 0.92;
    mask-image: inherit;
  }

  .summery-div {
    padding: 50px;
    display: inline;
  }

  .summery-picture-div {
    background-image: url("../images/picture2.jpg");
    background-size: cover;
    background-position: center;
    width: 403px;
    height: 233px;
    border-radius: 4px;
    margin-left: 3px;
    margin-bottom: 16px;
  
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
  }

  .about-inside-div{
    width: 376px;
    margin-left: 3px;
  }

  .our-info-div {
    display: inline;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .footer-about-us-paragraph {
    width: 260px;
    font-size: large;
    margin-left: 40px;
    text-align: center;
  }

  .footer-about-div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}